# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
streamlit
requests
audio-recorder-streamlit
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# wav analysis
librosa

# tests/linter
black
coverage
flake8
pytest
yapf

# API
fastapi
gcsfs
uvicorn
google-cloud-storage
mlflow==2.1.1
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
ipython
colorama

# frontend
noisereduce
