# packaging
wheel>=0.29
pip>=9
setuptools>=26
twine

# data science
numpy
pandas
scikit-learn
streamlit
requests
audio-recorder-streamlit
matplotlib
tensorflow

# wav analysis
librosa

# tests/linter
black
coverage
flake8
pytest
yapf

# API
fastapi
gcsfs
uvicorn
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
ipython
colorama
